.project-card {
    width: 60%;
    min-height: 200px;
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    opacity: 0;
    background-color: #151515;
    position: sticky;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;

    .project-text {
        width: 80%;
        position: relative;
        margin: 0;
        font-size: larger;
        color: rgb(217, 217, 217);
        text-align: center;
    }

    a {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        position: relative;
    }
    

}

.rtl{
    direction: rtl;
}
@media screen and (max-width: 550px) {
    .rtl{
        direction: ltr;
    }
    .project-card{
        .project-text{
            width: 100%;
        }
        img{
            margin-bottom: 20px;
        }
    }
  }