@import '../../../styles/variables';
@import '../../../styles/mixins';

.project-card {
  @include glass-panel;
  @include fade-in-up;
  @include glow-hover;
  overflow: hidden;

  .project-image {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform var(--transition-normal);
    }
  }

  &:hover .project-image img {
    transform: scale(1.05);
  }

  .project-info {
    padding: 2rem;
  }

  .project-title {
    font-family: var(--font-heading);
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    @include gradient-text;
  }

  .project-description {
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--color-text-secondary);
    margin-bottom: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .project-link {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-accent);
    transition: color var(--transition-fast);

    &:hover {
      color: var(--color-accent-pink);
    }
  }
}
