.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translateY(-50%);
    width: 42%;
    max-height: 90%;
  }

  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: white;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
    left: -10px;

  
    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #17D3AA;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #17D3AA;
      font-size: 18px;
      line-height: 18px;
      position: relative;
      margin-top: 70px;
      margin-left: 20px;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #17D3AA;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #17D3AA;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #17D3AA;
      color: #333;
    }
  }
}



@media screen and (max-width: 1200px) {
  .tags {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .logo-container {
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    z-index: -1;
  }

  .logo-container img {
    top: auto;
    right: auto;
    bottom: auto;
    margin: auto;

  }

}